.squarewhite{
    background-color: bisque;   
}

.squareblack{
    background-color: rgb(6, 1, 54);
}

.squareblack .squarewhite{
    width: 80px;
    height: 80px;
}

.squareblack:hover{
    background-color: rgb(22, 2, 95);
}

.squarewhite:hover{
    background-color: rgb(194, 168, 136);
}

.chessBoard{
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
}

.figureImage{
    width: 80px;
    height: 80px;
}


.selectedPiece{
    position:absolute;
    transform:translate(-50%,-50%);
    pointer-events: none;

    z-index: 100;

}

.gridContainer{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}

.gameSpace{
    display: flex;
    width: 100%;
}
.notatationOutput{
    width: 185px;
}

.notationTablo{
    width: 185px;
    height: 640px;
    background-color: rgb(0, 47, 75);
}


.blacktext{
    color: black;
    font-size: 30px;
    font-weight: 600;
}


.whitetext{
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 30px;

}

.bk{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/bk.png');
    background-size: 100%;
}

.wk{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wk.png');
    background-size: 100%;
}


.bn{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/bn.png');
    background-size: 100%;
}

.wn{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wn.png');
    background-size: 100%;
}

.br{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/br.png');
    background-size: 100%;
}

.wr{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wr.png');
    background-size: 100%;
}


.bb{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/bb.png');
    background-size: 100%;
}

.wb{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wb.png');
    background-size: 100%;
}

.bq{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/bq.png');
    background-size: 100%;
}

.wq{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wq.png');
    background-size: 100%;
}

.bp{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/bp.png');
    background-size: 100%;
}

.wp{
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wp.png');
    background-size: 100%;
}

.bk .bb .bq .bp .bn .br .wk .wq .wr .wb .wn:hover{
    background-size: 120%;
}


.index{
    color: green;
}